:root {
    --square-size: 8em;
    --color-piece-primary: #2A3132;
    --color-piece-accent: #763626;
    --color-board-primary: #336B87;
    --color-board-accent: #90AFC5;

}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2em;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, var(--square-size));
    grid-template-rows: 1fr;
    gap: 0;
}

.square {
    height: var(--square-size);
    text-align: center;
}

.square h1 {
    margin: 0;
    line-height: calc(var(--square-size) / 2);
    font-size: 2em;
}

.square:hover {
    cursor: grab;
}

.square:hover h1 {
    scale: 1.25;
}

.dark {
    background-color: var(--color-board-primary);
}

.light {
    background-color: var(--color-board-accent);
}

.black {
    color: var(--color-piece-primary);
}

.white {
    color: var(--color-piece-accent);
}

.button {
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--color-board-accent);
    color: var(--color-piece-primary);
    border: none;
    border-radius: 1.25rem;
}

.button:hover {
    cursor: pointer;
    background-color: var(--color-board-primary);
    color: white;
}